START
STOREL 2
PUSHS "Quantos dados deseja informar?"
WRITES
READ
ATOI
STOREL 3
PUSHL 3
SUPEQ
STOREL 0
PUSHS "Altura: "
WRITES
READ
ATOI
STOREL 4
PUSHL 2
PUSHL 4
ADD
STOREL 2
PUSHL 0
ADD
STOREL 0
PUSHL 0
PUSHL 3
INF
PUSHL 2
PUSHL 3
DIV
STOREL 1
PUSHS "Media: "
WRITES
PUSHL 1
PUSHS "Quantidade inválida."
WRITES
STOP
